::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #101630;
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* width: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* color: #ffffff; */
  /* font-family: "Poppins", sans-serif; */
}

html {
  scroll-behavior: smooth;
}
button {
  outline: none;
  border: none;
}
